body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}

button {
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: #787676 1px solid;
  z-index: 1000;
}

.logo {
  margin-left: 20px;
  font-size: 30px;
  color: rgb(109, 132, 86);
  flex: 1;
  font-weight: bold;
}

.middle-section {
  display: flex;
  flex-direction: row;
  flex: 2;
  margin-left: 100px;
}

.middle-nav {
  width: 80px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
}

.right-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 400px;
 
}

.right-nav {
  width: 60px;
  height: 40px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  color: #ffffff;
}

header {
  background-image: url('../assets/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

header p {
  font-family: Manrope, Arial, Roboto;
  font-weight: 700;
}

header button {
  background-color: #70BEE6;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 24px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 200px;
}

.header-content {
  margin-top: 80px;
  font-size: 32px;
  width : 968px;
}

.welcome {
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: bold;
  font-family: Inter, Arial, Roboto;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  height: 650px;
  margin-top: -22.5px;
}

.about-image-container {
  width: 600px;
  height: 600px;
  margin-right: 20px;
  background-color: #3B7EA1;
  margin-top:-5px;
  display: flex;
  justify-content: center;
}

.about-image {
  width: 400px;
  height: 600px;
  margin-left: 20px;
}

.about-content {
  flex: 1;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: rgb(0, 0, 0);
  margin-bottom: 100px;
}

.about-header {
  font-size: 56px;
  margin-bottom: 20px;
}

.about-section button {
  background-color: #70BEE6;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 24px;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 200px;
}

.products-section {
  font-size: 24px;
  background-color: #70BEE6;
  margin-top: -27.5px;
  border-top: #000000 3px solid;
  border-bottom: #000000 3px solid;
}

.products-section h2 {
  font-size: 36px;
  padding-top: 50px;
  padding-left: 30px;
}

.products-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  padding: 20px 50px;
  scroll-behavior: smooth;
  gap: 30px;
}

.product img {
  width:300px;
  height: 180px;
  margin: 10px;
  border-radius: 10px;
}

.product {
  text-align: left;
  margin: 20px;
  background-color: black;
  color: rgb(255, 255, 255);
  height: 490px;
  font-size: 18px;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin-left: 150px;
}

.products-section button {
  background-color:#70BEE6;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
}

.scroll-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.scroll-button {
  background-color: #000000;
  color: #fff;
  border: black 1px solid;
  font-size: 24px;
  width: 50px;
  height: 100px;
  cursor: pointer;
}


.scroll-button-right {
  position: relative;
  right: 0;
  top: 0;
}

.scroll-button-left {
  position: relative;
  left: 0;
  top: 0;
}

.product {
  flex: 0 0 auto;
}

.faqs {
  font-size: 24px;
  background-color: #3B7EA1;
  padding: 20px;
}

.faqs h2 {
  font-size: 36px;
  padding-top: 30px;
  padding-left: 20px;
}

.faq {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 800px;
}

.faqs .question {
  position: relative;
  width: 800px;
  font-weight: 700;
  font-size: 24px;
}

.question::after {
  position: absolute;
  content: 'V';
  right: 0;
  transition: transform 0.5s;
}

.faq.active .question::after {
  content: '▲';
}

.faqs-content .answer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.faq.active .answer {
  max-height: 200px;
}

.testimonials {
  font-size: 24px;
  background-color: #70BEE6;
  padding: 20px;
  border: #000000 1px solid;
}

.testimonial-roll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 20px;
}

.testimonial {
  min-width: 300px;
  width: 580px;
  background-color: #3B7EA1;
  padding: 20px;
  border-radius: 10px;
}

.values {
  font-size: 24px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.values-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #ffffff 1px solid;
  margin-right: 20px;
  padding: 20px;
}

.value img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.star {
  color: #ffffff;
  font-size: 100px;
}

.box {
  width: 900px;
  height: 30px;
  background-color: #000000;
  border-top: #ffffff 5px solid;
  border-bottom: #ffffff 5px solid;
  margin-left: 150px;
}

.team {
  font-size: 36px;
  font-weight: 700;
  background-color: #ffffff;
  padding: 20px;
  height: 750px;
  border-bottom: #000000 3px solid;
}



.team-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-pic {
  width: 334px;
  border-radius: 200px;
}

.team-member {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.chatbot {
  background-color: #70BEE6;
  height: 750px;
}

.chatbot-header {
  font-size: 36px;
  padding: 40px;
  line-height: 0.75;
}

.chatbot p {
  font-size: 18px;
}

.chatbot-form {
  width: 600px;
  margin: 20px auto;
  height: 60px;
  border-radius: 20px;
  padding-left: 10px;
}

.chatbot-input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.chatbot-form {
  border-radius: 16px;
  resize: none;
  width: 600px;
  height: 40px;
  margin-left: 20px;
  border: none;
  padding: 10px;
}

.chatbot-send-button {
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  height: 60px;
  width: 100px;
  margin-right: 600px;
}

.chatbot-response-text {
  width: 900px;
  height: 150px;
  min-height: 100px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  resize: none;
  font-style: italic;
  margin-left: 20px;
  border: none;
}

.chatbot-response-box p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.sample-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.sample-question {
  background-color: #3B7EA1;
  border: 3px solid #60beed;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sample-questions-header {
  font-size: 24px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.sample-question:active {
  background-color: #000000;
  color: #ffffff;
}

.contact-section {
  height: 500px;
}
.contact-header {
  font-size: 36px;
  line-height: 0.75;
}

.contact-header p {
  font-size: 18px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
}

.contact-form-container {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form-container button {
  background-color: #70BEE6;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  border: #000000 1px solid;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer-info {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-left: 10px;
}